
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#Compiled class
*.class

#Package files
*.jar
*.zip
*.tar-gz

#Records
/records/

#Test
/Unity Test/
/JUnit Test/

#MD file
*.MD

#Others
skiplist.png


*.csv
